<body>
     <link rel="stylesheet" href="css/signOutPageStyle.css">
    <div class="sign-out-notification" style="width: 100%;">
        <h3>{{message}} <i class="fa-solid fa-circle-check" style="color: #42f595;"></i></h3>
        <a href="/"><button type="btn" class="btn btn-primary home-btn">Trang chủ</button></a>
    </div>

</body>