
.search 
{
    position: relative;
    box-shadow: 0 0 40px rgba(51, 51, 51, .1);
}

.search input 
{
    height: 50px;
    text-indent: 25px;
    border: 2px solid #d6d4d4;
}

.search input:focus 
{
    box-shadow: none;
    border: 2px solid blue;
}

.search .fa-search 
{
    position: absolute;
    top: 16px;
    left: 16px;
}

.search button 
{
    position: absolute;
    top: 5px;
    right: 5px;
    height: 40px;
    width: 80px;
    background: blue;
}

.navbar-color {
    background-color: #DAE5FC;
}

.nav-css {
    background-color: #6898ff;
    margin-top: 5px;
    margin-bottom: 5px;
}

.nav-menu{
    background-color: transparent;
    border: none;
}

#menu-icon:active{
    scale: 1.1;
}


.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #ffffff;
    -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.09);
    /* background-image: linear-gradient(#373B44, #4286f4); */
    overflow-x: hidden;
    transition: 0.5s;


  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    color: #475D8F;
    display: block;
    transition: 0.3s;
    background-color: #ffffff;
    margin: 0.2rem;
    -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.09);
    border-radius: 2px;
    white-space: nowrap;
    overflow: hidden;
  }
  
  .sidenav a:hover {
    color: #17284f;
    background-color: #DAE5FC;
  }
  
  .close-btn-container{
    display: flex;
    justify-content: flex-end;
    background-color: #DAE5FC;
    max-height: 66px;
    min-height: 66px;
    align-items: center;
    cursor: pointer;
  }
  .close-btn-container .fa-bars{
    font-size: 150%;
    margin-top: 0.5rem;
    margin-right: 0.8rem;
    cursor: pointer;
  }
  