.form-control{
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
}

.form-control:hover{
  background-color: #ECF2FF;
  color: #475D8F;
  scale: 1;
  -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.09);

}
.accordion-item{
    border: none;
}